@page "/"

<h1>Data Load TEST</h1>

<table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>ZIP / Post code</th>
            <th>Country</th>
        </tr>
    </thead>
</table>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
